# Node modules
node_modules/

# Documentation
doc/
doc-latex/

# Binaries
bin/

# NPM debug log
npm-debug.log

# Sublime Text personal workspace
*.sublime-workspace

# XCode files
*.DS_Store

# Generated parser should be re-generated every time and shouldn't be included in the repo
src/model/parser.js
src/model/unitparser.js