#analysis.tabcontent
	div
		.inline(style='float:right;')
			.label Plot:
			.group
				#plotAnalysis
				table(style = "width:50%")
					tr
						td
							.label Clamp Range:
						td
							.label Clamp Margin Percentage:
					tr
						td(align = 'center')
							input(id = 'toClamp', type = 'checkbox', checked = 'true', onclick = 'view.tabs.analysis.setClamp(this.checked)')
						td
							input(id = 'clampMargin', type = 'number', value = '4', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setClampMargin(val)')
					tr
						td
							.label Domain From:
						td
							.label Domain To:
					tr
						td
							input(id = 'domainFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {min: val}})')
						td
							input(id = 'domainTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {max: val}})')
					tr
						td
							.label Range From:
						td
							.label Range To:
					tr
						td
							input(id = 'rangeFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({min: val})')
						td
							input(id = 'rangeTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({max: val})')