#analysis.tabcontent(style='min-height: 525px')
	div
		.inline(style='width:500px')
			input#dosensan.buttonin(type='button', value='Do sensitivity analysis', onclick='view.tabs.analysis.sensAnalysis()')
			.label(style='top: 0px;') Sensitivity analysis
			div#an_senscontainer
		.inline
			.label(style='width:100px;') Arguments
			.an_listcontainer
				#an_arguments.report.verticalmenu
		.inline(style='margin-left: 20px;')
			.label(style='width:100px;') Results
			.an_listcontainer
				#an_results.report.verticalmenu
		.inline(style='float:right;')
			.label Plot:
			.group
				table(style = "width:50%")
					tr
						td(align = 'center', colspan='2', style='padding: 0px; padding-top: 3px; padding-bottom: 3px;')
							span(style='font-weight: bold;') Graph type:
							select#graphmode(style='margin-left: 15px; vertical-align: middle;')
								option(value='graph') Graph
								option(value='contour') Contour
					tr
						td(colspan = '2', align = 'center')
							#analysis_plot
					tr(class = "analysis_lineSettings")
						td
							.label Clamp:
						td
							.label Clamp Margin Percentage:
					tr(class = "analysis_lineSettings")
						td(align = 'left', style='padding-left: 7px; padding-top: 5px; font-size: 13px;')
							span Clamp range
							input(id = 'analysis_toClamp', type = 'checkbox', checked = 'true', onclick = 'view.tabs.analysis.setClamp(this.checked)', style='float:right; margin-right: 10px;')
						td
							input(class='an_graphinput', id = 'analysis_clampMargin', type = 'number', value = '4', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setClampMargin(val)')
					tr
						td
							.label Domain X From:
						td
							.label Domain X To:
					tr
						td
							input(class='an_graphinput', id = 'analysis_domainXFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {min: val}})')
						td
							input(class='an_graphinput', id = 'analysis_domainXTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {max: val}})')
					tr(class = "analysis_contourSettings")
						td
							.label Domain Y From:
						td
							.label Domain Y To:
					tr(class = "analysis_contourSettings")
						td
							input(class='an_graphinput', id = 'analysis_domainYFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({y: {min: val}})')
						td
							input(class='an_graphinput', id = 'analysis_domainYTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({y: {max: val}})')
					tr
						td
							.label Range From:
						td
							.label Range To:
					tr
						td
							input(class='an_graphinput', id = 'analysis_rangeFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({min: val}, false)')
						td
							input(class='an_graphinput', id = 'analysis_rangeTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({max: val}, false)')
					tr(class = 'analysis_contourSettings')
						td
							.label Nr. Contours:
						td
							.label Nr. Samples:
					tr(class = "analysis_contourSettings")
						td
							input(class='an_graphinput', id = 'analysis_nrContours', type = 'number', value = '10', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setNrContours(val)')
						td
							input(class='an_graphinput', id = 'analysis_nrSamples', type = 'number', value = '10', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setContourSamples(val)')
