#analysis.tabcontent
	div
		.inline(style='float:right;')
			.label Plot:
			.group
				table(style = "width:50%")
					tr
						td(colspan = '2', align = 'center')
							#analysis_plot
					tr
						td
							.label Clamp Range:
						td
							.label Clamp Margin Percentage:
					tr
						td(align = 'center')
							input(id = 'analysis_toClamp', type = 'checkbox', checked = 'true', onclick = 'view.tabs.analysis.setClamp(this.checked)')
						td
							input(id = 'analysis_clampMargin', type = 'number', value = '4', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setClampMargin(val)')
					tr
						td
							.label Domain X From:
						td
							.label Domain X To:
					tr
						td
							input(id = 'analysis_domainXFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {min: val}})')
						td
							input(id = 'analysis_domainXTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {max: val}})')
					tr
						td
							.label Range From:
						td
							.label Range To:
					tr
						td
							input(id = 'analysis_rangeFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({min: val})')
						td
							input(id = 'analysis_rangeTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({max: val})')