#analysis.tabcontent
	div
		.inline(style='width:500px')
		.inline
			.label(style='width:100px;') Arguments
			.an_listcontainer
				#an_arguments.report.verticalmenu
		.inline(style='margin-left: 20px;')
			.label(style='width:100px;') Results
			.an_listcontainer
				#an_results.report.verticalmenu
		.inline(style='float:right;')
			.label Plot:
			div#an_errormessage
			.group
				table(style = "width:50%")
					tr
						td
							.label Line Plot
						td
							.label Contour Plot
					tr
						td(align = 'center')
							input(id = 'analysis_linePlot', type = 'radio', checked = 'true', name = "plotType", onclick = 'view.setState({"tab": "analysis", "mode": "graph"});')
						td(align = 'center')
							input(id = 'analysis_contourPlot', type = 'radio', name = "plotType", onclick = 'view.setState({"tab": "analysis", "mode": "contour"});')
					tr
						td(colspan = '2', align = 'center')
							#analysis_plot
					tr(class = "analysis_lineSettings")
						td
							.label Clamp:
						td
							.label Clamp Margin Percentage:
					tr(class = "analysis_lineSettings")
						td(align = 'left', style='padding-left: 7px; padding-top: 5px; font-size: 13px;')
							span Clamp range
							input(id = 'analysis_toClamp', type = 'checkbox', checked = 'true', onclick = 'view.tabs.analysis.setClamp(this.checked)', style='float:right; margin-right: 10px;')
						td
							input(id = 'analysis_clampMargin', type = 'number', value = '4', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setClampMargin(val)')
					tr
						td
							.label Domain X From:
						td
							.label Domain X To:
					tr
						td
							input(id = 'analysis_domainXFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {min: val}})')
						td
							input(id = 'analysis_domainXTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({x: {max: val}})')
					tr(class = "analysis_contourSettings")
						td
							.label Domain Y From:
						td
							.label Domain Y To:
					tr(class = "analysis_contourSettings")
						td
							input(id = 'analysis_domainYFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({y: {min: val}})')
						td
							input(id = 'analysis_domainYTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setDomain({y: {max: val}})')
					tr
						td
							.label Range From:
						td
							.label Range To:
					tr
						td
							input(id = 'analysis_rangeFrom', type = 'number', value = '0', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({min: val})')
						td
							input(id = 'analysis_rangeTo', type = 'number', value = '50', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setRange({max: val})')
					tr(class = 'analysis_contourSettings')
						td
							.label Nr. Contours:
						td
							.label Nr. Samples:
					tr(class = "analysis_contourSettings")
						td
							input(id = 'analysis_nrContours', type = 'number', value = '10', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setContourNumbers(val)')
						td
							input(id = 'analysis_nrSamples', type = 'number', value = '10', onchange = 'var val = parseFloat(this.value); view.tabs.analysis.setContourSamples(val)')
