#editrun
    script.
        function remLine(line) {
            $('label[for = "line' + line + '"]').remove();
            $('#line' + line).remove();
            console.log('Removed ' + line);
        }

        function addLine(line, left, right, category) {
            $('#scriptlist').append('\
                <input type="radio" name="script" id="line' + line + '" value="' + line + '">\
                <label for="line' + line + '">\
                    <div class="inline">' + left + '</div>\
                    <div class="inline operator">=</div>\
                    <div class="inline">' + right + '</div>\
                    <div class="inline comment">(cat.=' + category + ')</div>\
                    <a onclick="remLine(' + line + ')" class="inline lineoption">delete</a>\
                </label>\
            ');
        }

        /*
         * Dynamic input elements to be generated according to ACCEL script requirements
         */

        /*
         * Dynamic slider to be generated according to ACCEL script requirements
         */
        function SliderInput(val, min, max) {
            this.val = val;
            this.min = min;
            this.max = max;

            this.appendHTML = function(div, name, identifier) {
                $(div).append('\
                    <div id = "userinputdiv' + identifier + '">\
                        <div class = "inline">' + name + '</div>\
                        <div id = "userslider' + identifier + '"></div>\
                    </div>\
                ');
                $('#userslider' + identifier).slider({
                    range: "min",
                    value: this.val,
                    min: this.min,
                    max: this.max,
                    slide: function(event, ui) {
                        $('#userinputdiv' + identifier).val(ui.value);
                    }
                });
            }
        }

        function addInput(element, name, identifier) {
            element.appendHTML('#userinput', name, identifier)
        }

    div
        .inline
            .label Script line
            input(type = 'text')#selectedline.textin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Enter')#enterline.buttonin
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run')#runscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'New')#newscript.buttonin
    .inline
        .label Listing
        #scriptlist.textin
            script.
                addLine(1,'a','56',2);
                addLine(2,'b','948546687',2);
                addLine(3,'c','887',2);
                addLine(4,'d','94887',2);
    .inline
        .label User input
        #userinput.group
            script.
                addInput(new SliderInput(2,0,10), 'Slider', 0);
                addInput(new SliderInput(2,0,10), 'Slider', 1);
                addInput(new SliderInput(2,0,10), 'Slider', 2);
            
    .inline
        .label To do:
        .group
            #tododiv
    .inline
        .label Results
        .group
            #resultsdiv
    .inline
        .label Plot:
        .group
            #tododiv