#editrun.tabcontent
    div
        .inline
            .label Script line
            //input(type = 'text')#scriptline.textin
            #editrun_scriptline.inline.textin(contenteditable)
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Enter', onclick = 'view.tabs.editrun.addQuantity($("#editrun_scriptline").text())')#editrun_enterline.buttonin
        #editrun_scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'New', onclick = 'view.tabs.editrun.newScript()')#editrun_newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'view.tabs.editrun.toggleExecution(this.value)')#editrun_runscript.buttonin.disabled
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Reset', onclick = 'controller.reset()')#editrun_reset.buttonin.disabled
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'view.tabs.editrun.setIterations(this.value)')#editrun_iterations.textin

    div
        .inline
            #editrun_scriptlistdiv
                .label Quantities
                .textin
                    #editrun_pendingscriptline
                        .inline.ellipsis
                        #editrun_pendingloader.inline
                    #editrun_scriptlistcontainer
                        #editrun_scriptlist

        .inline100
            #editrun_tododiv
                .label To do
                .report
                    #editrun_todolist.verticalmenu
            #editrun_arglistdiv
                .label Arg. of&nbsp;
                    .inline.quantityname.max128w.ellipsis
                .report
                    #editrun_arglist.divtable
            #editrun_argtodiv
                .label
                    .inline.quantityname.max128w.ellipsis
                    | &nbsp;is Arg. to
                .report
                    #editrun_argtolist.divtable

        .inline100(style='max-width: 140px')
            #editrun_userinputdiv
                .label User input
                #editrun_userinput.group

        .inline(style='float:right;')
            #editrun_plotdiv
                .label Plot:
                .group
                    #editrun_plot
                .label Rendering speed:
                .group
                    div#editrun_renderspeed

        .inline100(style='float:right; max-width: 200px;')
            #editrun_resultdiv
                .label Results
                .group
                    #editrun_result.divtable
