#editrun
    script(src = "scripts/view/tabs/editrun.js")
    div
        .inline
            .label Script line
            input(type = 'text')#scriptline.textin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Enter', onclick = 'addQuantity($("#scriptline").val())')#enterline.buttonin
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run')#runscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'New')#newscript.buttonin
    .inline
        .label Listing
        #scriptlist.textin
            script.
                //- Scriptlist.addLine(1,'a','sin(b)',4);
                //- Scriptlist.addLine(2,'b','5',3);
                //- Scriptlist.addLine(3,'c','a * 5',2);

    .inline
        div
            .label To do
            #todolist.report.divtable
                script.
                    //- Report.addTodo('c');
                    //- Report.addTodo('d');
                    //- Report.addTodo('efgh');

            .label Arg. of
                .inline.quantityname &nbsp;a
            #arglist.report.divtable
                script.
                    //- Report.addArg('a','regular');
                    //- Report.addArg('sin','std func.');

            .label
                .inline.quantityname a&nbsp;
                | is Arg. to
            #argtolist.report.divtable
                script.
                    //- Report.addArgto('c','regular');

    .inline
        .label User input
        #userinput.group
            script.
                //- for (var i = 0; i < 1; i++) {
                //-     Userinput.addInput(new Userinput.SliderInput(i%4,0,10), 'Slider', i);
                //- }

    .inline
        .label Results
        .group
            #result.divtable
            script.
                //- Report.addResult('c', -4.795);
            
    .inline
        .label Plot:
        #plot.group
