#editrun
    script(src = 'scripts/view/tabs/editrun.js')
    div
        .inline
            .label Script line
            input(type = 'text')#scriptline.textin
            //- #syntaxtip.tooltip(onclick = '$(this).toggle();') SYNTAX ERROR
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Enter', onclick = 'addQuantity($("#scriptline").val())')#enterline.buttonin
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'New', onclick = 'newScript()')#newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'toggleExecution(this.value)')#runscript.buttonin
                //- #runtimetip.tooltip(onclick = '$(this).toggle();') RUNTIME ERROR
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'setIterations(this.value)')#iterations.textin

    .inline
        #scriptlistdiv
            .label Listing
            .textin(style = "overflow-x: hidden; overflow-y: auto; height: 400px;")
                #scriptlist
                //- script.
                //-     Scriptlist.addLine(1,'a','sin(b)',4);
                //-     Scriptlist.addLine(2,'b','5',3);
                //-     Scriptlist.addLine(3,'c','a * 5',2);

    .inline100
        #tododiv
            .label To do
            .report
                #todolist.divtable
                //- script.
                //-     Report.addTodo('c');
                //-     Report.addTodo('d');
                //-     Report.addTodo('efgh');
        
        #arglistdiv
            .label Arg. of
                .inline.quantityname &nbsp;a
            .report
                #arglist.divtable
                //- script.
                //-     Report.addArg('a','regular');
                //-     Report.addArg('sin','std func.');

        #argtodiv
            .label
                .inline.quantityname a&nbsp;
                | is Arg. to
            .report
                #argtolist.divtable
                //- script.
                //-     Report.addArgto('c','regular');

    .inline100
        #userinputdiv
            .label User input
            #userinput.group
            //- script.
            //-     for (var i = 0; i < 4; i++) {
            //-         console.log(i);
            //-         var slider = new SliderInput(i, null, 'Slider', i%4,0,10);
            //-         console.log(slider);
            //-         addInput(slider);
            //-     }

    .inline100
        #resultdiv
            .label Results
            .group
                #result.divtable
                //- script.
                //-     Report.addResult('c', -4.795);
            
    .inline
        #plotdiv
            .label Plot:
            #plot.group

    //- .label Console (Feedback)
    //- .report(onclick = '$("#console").toggle()')
    //-     #console.divtable(style = "height: 100px;")
    //-         div
                //- div Warning -&nbsp
                //- div To string conversion
