#editrun.tabcontent
    div
        .inline
            .label Script line
            //input(type = 'text')#scriptline.textin
            #scriptline.inline.textin(contenteditable)
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Enter', onclick = 'view.tabs.editrun.addQuantity($("#scriptline").text())')#enterline.buttonin
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'New', onclick = 'view.tabs.editrun.newScript()')#newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'view.tabs.editrun.toggleExecution(this.value)')#runscript.buttonin
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'view.tabs.editrun.setIterations(this.value)')#iterations.textin

    .inline
        #scriptlistdiv
            .label Listing
            .textin
                #pendingscriptline
                    .inline.ellipsis
                    #pendingloader.inline
                #scriptlistcontainer
                    #scriptlist

    .inline100
        #tododiv
            .label To do
            .report
                #todolist.verticalmenu
        #arglistdiv
            .label Arg. of&nbsp;
                .inline.quantityname.max128w.ellipsis
            .report
                #arglist.divtable
        #argtodiv
            .label
                .inline.quantityname.max128w.ellipsis
                | &nbsp;is Arg. to
            .report
                #argtolist.divtable

    .inline100
        #userinputdiv
            .label User input
            #userinput.group

    .inline100
        #resultdiv
            .label Results
            .group
                #result.divtable

    .inline
        #plotdiv
            .label Plot:
            .group
                #plot

    //- script.
    //-     var syntaxerror = new Tooltip(0, '#scriptline', 'tooltip');
    //-     syntaxerror.set('ERROR! ERROR!! ERROR!!!');

    //- .label Console (Feedback)
    //- .report(onclick = '$("#console").toggle()')
    //-     #console.divtable(style = "height: 100px;")
    //-         div
                //- div Warning -&nbsp
                //- div To string conversion
