#helpdemo.tabcontent
    div
        .inline
            .label Help phrase
            input(type = 'text')#helpphrase.textin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Search' onclick = 'view.tabs.helpdemo.searchHelp($("#helpphrase").val())')#helpsearch.buttonin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Ask for help' onclick = 'view.tabs.helpdemo.toggleValues()')#helpmail.buttonin.disabled
    .inline100
        .label Help categories
        #helpcategories.report.verticalmenu
    .inline100
        .label Help articles
        #helparticles.report.verticalmenu.px12
    .inline
        .label Help text
        #helptext.group
    .inline100
        .label Demo scripts
        #demoscripts.report.verticalmenu.px12
