#helpdemo.tabcontent
    div
        .inline
            .label Help phrase
            input(type = 'text', onkeyup = 'view.tabs.helpdemo.searchHelp(this.value.trim())')#helpphrase.textin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Search' onclick = 'view.tabs.helpdemo.searchHelp($("#helpphrase").val())')#helpsearch.buttonin
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Ask for help' onclick = 'view.tabs.helpdemo.toggleValues()')#helpmail.buttonin.disabled
    .inline100
        .label Help categories
        #helpcategories.report.verticalmenu
    .inline100
        .label Help articles
        #helparticles.report.verticalmenu.px12
    #helparticlecontents.inline
        .label Help text
        #helptext.group
    .inline100(style='float:right;')
        .label Demo scripts
        #demoscripts.report.verticalmenu.px12
