#intro.tabcontent
	h1 Introduction
	p.
		OpenACCEL is an open-source reimplementation of ACCEL.
		The OpenACCEL-system is a light-weight, general purpose modelling environment for mathematical modelling.
		It combines some ideas from spreadsheets, Matlab, and traditional highschool mathematics.
