#ioedit.tabcontent
    div(style='display: inline-block;')
        div
            .inline
                .label Options
                input(type = 'button', value = 'Show values' onclick = 'view.tabs.ioedit.toggleValues()')#ioedit_showvalues.buttonin
            .inline(style='vertical-align: bottom;')
                input(type = 'button', value = 'Check units' onclick = 'view.tabs.ioedit.checkUnits()')#ioedit_checkunits.buttonin
            .inline(style='vertical-align: bottom;')
                input(type = 'button', value = 'Clear unit errors' onclick = 'view.tabs.ioedit.clearUnitErrors()')#ioedit_clearerrors.buttonin
            .inline(style='vertical-align: bottom; margin-bottom: 5px;')
                span#ioedit_checkUnitsMsg Checking units...
            .inline(style='float: right; position: relative; top: 40px; z-index: 100;')
                input#ioedit_qtyselector.textin(list='ioedit_qtylist', style='padding: 2px 4px; vertical-align: middle;', placeholder='Go to quantity...', oninput='view.tabs.ioedit.scrollToQuantity(this.value)')
                datalist#ioedit_qtylist
                select(id="ioedit_qtysort", name="ioedit_qtysort", style="margin-left: 7px;", onchange="view.tabs.ioedit.sortQuantities(this.value);")
                    option(value="linenum") Line number
                    option(value="name") Name
                    option(value="category") Category
        .inline
            .label Script
            .textin
                .inline
                    textarea(cols="126")#ioedit_scriptarea

        .inline100
            #ioedit_tododiv
                .label To do
                .report
                    #ioedit_todolist.verticalmenu
            #ioedit_arglistdiv
                .label Arg. of&nbsp;
                    .inline.quantityname.max128w.ellipsis
                .report
                    #ioedit_arglist.divtable
            #ioedit_argtodiv
                .label
                    .inline.quantityname.max128w.ellipsis
                    | &nbsp;is Arg. to
                .report
                    #ioedit_argtolist.divtable
