#ioedit
    script(src = 'scripts/view/tabs/ioedit.js')
    div
        .inline
            .label Options
            input(type = 'button', value = 'Show values' onclick = 'toggleValues()')#showvalues.buttonin.disabled
        .inline
            .label &nbsp;
            input(type = 'button', value = 'Check units' onclick = 'checkUnits()')#checkunits.buttonin
        .inline(style='vertical-align: bottom; margin-bottom: 5px;')
            span#checkUnitsMsg Checking units...
        .inline(style='float:right; margin-top: 25px; margin-right: 10px;')
            span(style='margin-right:5px') Use advanced editor
            input(type='checkbox', onchange='toggleCM()')#useCM
    .inline
        .label Script
        .textin
            //- .inline
            //-     #scriptlineinfo.divtable
            //-         div
            //-             .inline 1
            //-             .inline value
            //-             .inline unitcheck
            //-         div
            //-             .inline 2
            //-             .inline value
            //-             .inline unitcheck
            //-         div
            //-             .inline 3
            //-             .inline value
            //-             .inline unitcheck
            .inline
                textarea(cols="90")#scriptarea
