#ioedit.tabcontent
    div
        .inline
            .label Options
            input(type = 'button', value = 'Show values' onclick = 'view.tabs.ioedit.toggleValues()')#ioedit_showvalues.buttonin
        .inline(style='vertical-align: bottom;')
            input(type = 'button', value = 'Check units' onclick = 'view.tabs.ioedit.checkUnits()')#ioedit_checkunits.buttonin
        .inline(style='vertical-align: bottom;')
            input(type = 'button', value = 'Clear unit errors' onclick = 'view.tabs.ioedit.clearUnitErrors()')#ioedit_clearerrors.buttonin
        .inline(style='vertical-align: bottom; margin-bottom: 5px;')
            span#ioedit_checkUnitsMsg Checking units...
        .inline(style='margin-top: 25px; margin-left: 130px;')
            span(style='margin-right:5px') Use advanced editor
            input(type='checkbox', onchange='view.tabs.ioedit.toggleCM()')#ioedit_useCM
    .inline
        .label Script
        .textin
            .inline
                textarea(cols="126")#ioedit_scriptarea
