#network.tabcontent
    div
        div#nw_qtyDescription
            span#nw_qtyDefinition No node selected
            span#nw_qtyComment &nbsp;
        .inline(style='padding-left: 5px;')
            #network_plot
