#optimisation.tabcontent
	#optimisation_sidebar.inline(style = 'width: 200px')
		div
			.label Initialisation
			.group
				div
					.inline Population size&nbsp;
					#optimisation_populationsizevalue.inline.slidervalue
					#optimisation_populationsize.optimisation_control
				input(type = 'button', value = 'Initialise')#optimisation_init.buttonin

		div
			.label Generations
			.group
				div
					.inline Generations per click&nbsp;
					#optimisation_stepsizevalue.inline.slidervalue
					#optimisation_stepsize.optimisation_control
				input(type = 'button', value = 'Generate next')#optimisation_step.buttonin

		div
			.label Algorithm settings
			#optimisation_settings.group
				div
					.inline Crossover&nbsp;
					#optimisation_crossovervalue.inline.slidervalue
					#optimisation_crossover.optimisation_control
				div
					.inline Mutation distribution&nbsp;
					#optimisation_mutationvalue.inline.slidervalue
					#optimisation_mutation.optimisation_control
				div
					.inline Maximum on front&nbsp;
					#optimisation_maxfrontvalue.inline.slidervalue
					#optimisation_maxfront.optimisation_control

	.inline
		.label Visualisation
		#optimisation_plotdiv.group
			#optimisation_plot(style = 'width: 400px; heigth: 400px; background: #CCCCCC;')

	.inline
		.label Visualisation controls
		#optimisation_plotcontrols.group
			input(type = 'button', value = 'Smart zoom')#optimisation_smartzoom.buttonin
			input(type = 'button', value = 'Zoom to fit')#optimisation_zoomtofit.buttonin
		.label Individual properties
		#optimisation_properties.group
