#simulation.tabcontent
    div
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Reset', onclick = 'controller.reset()')#newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'view.tabs.simulation.toggleExecution(this.value)')#runscriptSimulation.buttonin
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'view.tabs.simulation.setIterations(this.value)')#iterationsSimulation.textin
        .inline
            #plotSimulation
