#simulation
    script(src = 'scripts/View/tabs/Simulation.js')
    div
        #scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Reset', onclick = 'controller.reset()')#newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'toggleExecution(this.value)')#runscript.buttonin
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'setIterations(this.value)')#iterations.textin
        .inline
            #plotSimulation
