#simulation.tabcontent
    div
        #simulation_scriptoptions
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Reset', onclick = 'controller.reset()')#simulation_newscript.buttonin
            .inline
                .label &nbsp;
                input(type = 'button', value = 'Run', onclick = 'view.tabs.simulation.toggleExecution(this.value)')#simulation_runscript.buttonin
            .inline
                .label Iterations
                input(type = 'number', min = '0', value = '0', onchange = 'view.tabs.simulation.setIterations(this.value)')#simulation_iterations.textin
        .inline
            #simulation_plot
