doctype html
html
    head
        title OpenACCEL
        script(data-main='scripts/view/main' src='scripts/require.js')
        script(src='scripts/jquery.js')
        script(src='scripts/jquery-ui.js')
        script(src='scripts/view/descartes/canvastext.js')
        script(src='scripts/view/descartes/descartes.js')
        script(src='scripts/view/init.js')
        link(rel='stylesheet', type='text/css', href='css/accelstyle.css')
        //- script.
        //-     $(document).ready(
        //-         function() {
        //-             $('#main').tabs();
        //-         }
        //-     );
    body
        #loading(style = 'position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000000; background: #FFDDFF; background: linear-gradient(#FFDDFF, #FFFFFF); text-align: center')
            .inline(style = 'position: relative; top: 100px')
                div(style = 'background-image: url("../img/logoV2.png"); background-size: 100% auto; background-repeat: no-repeat; width: 800px; height: 200px;')
                h1(style = 'color: #662266;') Loading... 

        #container
            #top
                #logo
            #main
                ul
                    li
                        a(href = '#intro') Intro
                    li
                        a(href = '#editrun') Edit / Run script
                    li
                        a(href = '#helpdemo') Help / Demo
                    li
                        a(href = '#ioedit') IO / Edit
                    li
                        a(href = '#analysis') Analysis
                    li
                        a(href = '#optimisation') Genetic Optimisation
                    li
                        a(href = '#simulation') Simulation
                    li
                        a(href = '#network') Network

                include tabs/intro.jade
                include tabs/editrun.jade
                include tabs/helpdemo.jade
                include tabs/ioedit.jade
                include tabs/analysis.jade
                include tabs/optimisation.jade
                include tabs/simulation.jade
                include tabs/network.jade
