doctype html
html
    head
        title OpenACCEL
        link(rel ='shortcut icon', type = 'image/x-icon', href = 'img/favicon.ico')

        script(data-main ='scripts/View/Main' src = 'scripts/require.js')
        script(src = 'scripts/jquery.js')
        script(src = 'scripts/jquery-ui.js')
        script(src = 'scripts/jquery-bbq.min.js')
        script(src = 'scripts/View/Graphics/Imports/Clone.js')
        script(src = 'scripts/View/Graphics/Imports/CanvasText.js')
        script(src = 'scripts/View/Graphics/Imports/Descartes.js')
        link(rel = 'stylesheet', type = 'text/css', href = 'css/accelstyle.css')
        link(rel = 'stylesheet', type = 'text/css', href = 'css/codemirror.css')
    body
        noscript
            div#noscriptdiv
                h1(style='margin-top: 10px; margin-bottom: 7px;') Javascript disabled
                span Javascript seems to be disabled. OpenACCEL needs javascript in order to work. Please enable it in your browser.
        #loading(style = 'position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000000; background: #FFDDFF; background: linear-gradient(#FFDDFF, #FFFFFF); text-align: center')
            .inline(style = 'position: relative; top: 100px')
                div(style = 'background-image: url("../img/logoV2.png"); background-size: 100% auto; background-repeat: no-repeat; width: 800px; height: 200px;')
                h1(style = 'color: #662266;') Loading...

        #container
            #top
                #logo
            div
                #main.inline
                    ul
                        li#intro.navtab
                            a(href = '#tab=intro') Intro
                        li#editrun.navtab
                            a(href = '#tab=editrun') Edit / Run script
                        li#helpdemo.navtab
                            a(href = '#tab=helpdemo') Help / Demo
                        li#ioedit.navtab
                            a(href = '#tab=ioedit') IO / Edit
                        li#analysis.navtab
                            a(href = '#tab=analysis') Analysis
                        li#optimisation.navtab.disabled
                            a Genetic Optimisation
                        li#simulation.navtab
                            a(href = '#tab=simulation') Simulation
                        li#network
                            a(href = '#tab=network') Network

                    include Tabs/Intro.jade
                    include Tabs/EditRun.jade
                    include Tabs/HelpDemo.jade
                    include Tabs/IOEdit.jade
                    include Tabs/Analysis.jade
                    include Tabs/Optimisation.jade
                    include Tabs/Simulation.jade
                    include Tabs/Network.jade
