
html {
	height: 100%;
}

body {
	/*background: #FFFFFF;*/
	background: #FFDDFF;
	background: linear-gradient(#FFDDFF, #FFFFFF);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Arial';
	font-size: 14px;
	color: #FFFFFF;
}
body div {
	margin: 0px;
}

#container {
	position: relative;
}

#top {
	padding-top: 10px;
	padding-left: 10px;
}
#top #ccel{
	position: relative;
	top: -16px;
	left: -16px;
	display: inline-block;
	font-size: 50px;
	font-style: italic;
}

#logo {
	display: inline-block;
	height: 70px;
	width: 337px;
	background-image: url('../img/logoV2.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#main ul{
	position: relative;
	z-index: 1;
	margin-left: -40px;
}
#main ul li {
	display: inline;
	margin-right: 4px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	background: #662266;
	background: linear-gradient(#993399, #662266);
}
#main ul li:hover {
	background: #9933CC;
}
#main ul li.ui-tabs-active {
	background: #9933CC;
}
#main ul li a{
	padding: 5px;
	color: #FFFFFF;
	text-decoration: none;
}
#main > div {
	position: relative;
	top: -25px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	background: #9933CC;
  	box-shadow: 3px 3px 20px #993399;
    -webkit-box-shadow: 3px 3px 20px #993399;
	-moz-box-shadow: 3px 3px 20px #993399;
}
#main h1 {
	padding-left: 20px;
	color: #ffffff;
	font-size: 40px;
/*	font-style: italic;*/
	text-shadow: 2px 2px 2px #000000; 
}
#main p {
	color: #FFFFFF;
	font-size: 14px;
}

#main > div > div:last-child {
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-bottom-left-radius: 50px;
	min-height: 50px;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.inline100 {
	display: inline-block;
	min-width: 100px;
	vertical-align: top;
}

.px10 {
	font-size: 10px;
}

.px12 {
	font-size: 12px;
}

.px14 {
	font-size: 14px;
}

.verticalmenu > a {
	display: block;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 1px transparent solid;
	cursor: pointer;
	text-decoration: none;
}
.verticalmenu > a:hover {
	border-bottom: 1px #331144 solid;
	color: #FFFFFF;
	background: #9933CC;
}

.report {
	position: relative;
	z-index: 1;
	min-width: 100px;
	margin: 2px;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px #331144 solid;
	background: #882288;
}

.textin {
	position: relative;
	z-index: 1;
	margin: 2px;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px #331144 solid;
	background: #FFFFFF;
}

.buttonin {
	position: relative;
	z-index: 1;
	margin: 2px;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px #331144 solid;
	/*border: none;*/
	background: #662266;
	background: linear-gradient(#993399, #662266);
	color: #FFFFFF;
}
.buttonin:hover {
	background: #882288;
	background: linear-gradient(#882288, #662266);
}
.buttonin:active {
	background: #331144;
	background: linear-gradient(#331144, #662266);
}

.group {
	position: relative;
	z-index: 1;
	min-width: 100px;
	margin: 2px;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px #331144 solid;
	background: #9933CC;
}

.label {
	position: relative;
	top: 6px;
	display: block;
	margin-left: 2px;
	/*margin-top: 2px; top margin is ensured by relative position*/
	margin-right: 2px;
	padding: 4px;
	font-size: 10px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	background: #9933CC;
	background: linear-gradient(#9933CC, #9933CC, #662266);
	color: #FFFFFF;
}

.tooltipcontainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tooltip {
	position: relative;
	width: 200px;
	padding: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 4px 4px 8px #000000;
	pointer-events: auto;
}
.tooltip:after { /* Tooltip tip */
	content: '';
	position: absolute;
	top: -10px;
	left: 10px;
	z-index: 10000;
	border-style: solid;
	border-width: 0px 10px 10px;
	display: block;
	width: 0px;
}
.tooltip:before { /* Tooltip border */ 
	content: '';
	position: absolute;
	top: -12px;
	left: 9px;
	z-index: 1000;
	border-style: solid;
	border-width: 0px 11px 11px;
	display: block;
	width: 0;
}

.errormessage {
	background: #993399;
	background: linear-gradient(#993399, #662266);
	color: #FFFFFF;
	border: #662266 solid 1px;
}
.errormessage:after {
	border-color: #993399 transparent;
}
.errormessage:before {
	border-color: #662266 transparent;
}

.datamessage {
	background: #FFDDFF;
	background: linear-gradient(#FFDDFF, #FFFFFF);
	color: #331144;
	border: #FFFFFF solid 1px;
	word-break: break-all;
	word-wrap: break-word;
}
.datamessage:after {
	border-color: #FFDDFF transparent;
}
.datamessage:before {
	border-color: #FFFFFF transparent;
}

.divtable {
	display: table;
}
.divtable > div {
	display: table-row;
}
.divtable > div > div {
	display: table-cell;
	padding-left: 2px;
	padding-right: 2px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max128w {
	max-width: 128px;
}

.max256w{
	max-width: 256px;
}

/*
*:focus {
	outline: none;
}
*/

* {
	border: 0px #000000 solid;
}

/**
 * 
 * EDIT / RUN 
 * 
 */

#editrun {
	padding-top: 60px;
}
#editrun > .inline {
	margin-right: 4px;
}

#scriptline {
	position: relative;
	width: 640px;
	height: 16px;
	color: #000000;
    white-space: nowrap;
    overflow: hidden;
}
#scriptline br {
    display:none;
}
#scriptline * {
    display:inline;
    white-space:nowrap;
    visibility: hidden;
    width: 0;
    height: 0;
}

#scriptoptions {
	display: inline-block;
	float: right;
}

#iterations {
	width: 60px;
}

#scriptlistdiv .textin {
	padding-left: 0px;
	padding-right: 0px;
}

#scriptlistcontainer {
	height: 400px;
	overflow-x: hidden; 
	overflow-y: auto; 
	padding-left: 0px;
	padding-right: 0px;
}

#scriptlist { 
	display: table;
	padding-left: 0px;
	padding-right: 0px;
	min-width: 250px;
	color: #000000;
	/*font-size: 14px;*/
}
#scriptlist input {
	display: none;
}
#scriptlist label {

}
#scriptlist label:hover {
	color: #9933CC;
	background: #DDDDDD;
}
#scriptlist input + label {
	display: table-row;
}
#scriptlist input:checked + label {
	color: #EEEEEE;
	background: #331144;
}
#scriptlist label div {
	display: table-cell;
	padding-left: 2px;
	padding-right: 2px;
}

#pendingscriptline {
	display: none;
	height: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px #000000 dashed;
	color: #9933CC;
}

#pendingloader {
	display: none;
	width: 20px;
	height: 20px;
	float: right;
	background-image: url('../img/loadDot.gif'); 
	background-size: 100%;
	background-repeat: no-repeat;
}

#userinput {
	color: #331144;
}

#result .operator {
	color: #FFDDFF;
}

.resultvalue {
	cursor: pointer;
}
.resultvalue:hover {
	font-weight: bold;
}

.operator {
	color: #AA00AA;
}

.comment, .property {
	color: #AAAAAA;
	font-size: 10px;
	vertical-align: 2px;
}

.lineoption {
	color: #AA0000;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}

/* JQUERY SLIDER CSS */

.ui-slider {
	position: relative;
	text-align: left;
	margin: 8px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px #331144 solid;
	background: #FFFFFF;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;

	width: 10px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px #331144 solid;
	background: #662266;
	background: linear-gradient(#993399, #662266);
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: #331144;
}

.ui-slider-horizontal {
	height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -8px;
	margin-left: -5px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.checkboxin {
	width: 20px;	
	position: relative;
}

.checkboxin input {
	visibility: hidden;
}

.checkboxin label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 2px;
	top: 0;
	border-radius: 4px;
	border: 1px solid #331144;

	background: #662266;
	background: -webkit-linear-gradient(top, #993399 0%, #662266 100%);
	background: -moz-linear-gradient(top, #993399 0%, #662266 100%);
	background: -o-linear-gradient(top, #993399 0%, #662266 100%);
	background: -ms-linear-gradient(top, #993399 0%, #662266 100%);
	background: linear-gradient(top, #993399 0%, #662266 100%);
}

.checkboxin label:after {
	filter: alpha(opacity=20);
	opacity: 0.2;

	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid #331144;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkboxin label:hover::after {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.checkboxin input[type=checkbox]:checked + label:after {
	filter: alpha(opacity=100);
	opacity: 1;
}

/**
 * 
 * Help / Demo
 * 
 */

#helptext {
	width: 600px;
}

#helptext h3 {
	text-transform: capitalize;
}

/**
 * 
 * IO / Edit
 * 
 */

#scriptlineinfo > div > div {
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	color: #444444;
}

#scriptarea {
	height: 400px;
	resize: none;
	border: none;
	padding: 0px;
	font-size: 12px;
}
